@font-face { font-family: Hobo Std; src: resources/('HoboStd.otf'); } 

$font-title: Hobo Std;
$font-text: "Poppins", sans-serif;
$backgroundColor: #759AE4;
$text-shadow-title: 2px 2px 0px rgba(0,0,0,0.2);
$text-shadow-text: 2px 1px 1px rgba(46, 46, 46, 0.4);
$event-image-box-shadow: 0 4px 8px 0 rgba(14,31,53,0.10), 0 8px 16px 0 rgba(14,31,53,0.16), 0 16px 28px -1px rgba(14,31,53,0.10);
